################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/openGl_test/obj
